<block-ui>
  <!-- Sidebar -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
    <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="#"><img src="https://www.w3schools.com/images/w3schools.png" style="width:80%;"></a>
    <button class="w3-bar-item w3-button w3-large w3-hide-large" (click)="w3_close()">Close &times;</button>
    <a class="w3-bar-item w3-button" *ngFor="let menu of menuLists" routerLinkActive="active" 
    [routerLink]="[menu.module, { outlets: { 'm': menu.outlets } }]">
      <i [ngClass]="menu.icon"></i> {{menu.name}}
    </a>
  </nav>

  <!-- Overlay -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" id="myOverlay" (click)="w3_close()" style="cursor:pointer"></div>

  <!-- main page -->
  <div class="w3-main" style="margin-left:250px">
    <!-- Top -->
    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
      <p>
        <!-- <i class="fa fa-bars w3-button w3-hide-large w3-xlarge" (click)="w3_open()"></i> -->
        <i class="material-icons w3-button w3-hide-large" (click)="w3_open()">menu</i>
        <span id="myIntro" class="w3-hide">Manager: {{headerText}}</span>
      </p>
    </div>

    <!-- Header -->
    <header class="w3-container w3-theme" style="padding:5px 10px">
      <h4 style="padding-bottom: 3px;"><b>Manager: {{headerText}}</b></h4>
    </header>

    <!-- Page content -->
    <div class="w3-container">
      <router-outlet name="m"></router-outlet>
    </div>
  </div>

</block-ui>
