
<!-- <div class="card-wide mdl-card mdl-shadow--2dp" style="margin: auto;">
  <div class="mdl-card__title" [ngStyle]="{'background-image': 'url(' + uploadedFiles.coverPic + ')', 'background-size': 'cover'}">
    <h2 class="mdl-card__title-text">Category</h2>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
<br/> -->
<div class="w3-card-4">
  <img [src]="cate.coverPic" alt="Norway">
  <div class="w3-container w3-center">
    <p>The Troll's tongue in Hardanger, Norway</p>
  </div>
</div>
<br>
<form class="w3-container" #categoryForm="ngForm">
  <h4 class="ui dividing header">Category control</h4>
  <hr>
  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <label>Name</label>
      <label [hidden]="cateName.valid || cateName.pristine" style="color: red;">
        * Category name is required
      </label>
      <input class="w3-input w3-border" type="text" id="categoryName" placeholder="First Name" [(ngModel)]="cate.cateName" name="cateName" #cateName="ngModel" required>
    </div>
  </div>
  <br>
  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <label>Status</label>
      <select class="w3-select w3-border" id="categoryStatus" name="categoryStatus" [(ngModel)]="cate.selectedStatus">
        <option *ngFor="let item of statusLists" [value]='item.value'>
          {{item.label}}
        </option>
      </select>  
    </div>
  </div>
  <br>
  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <label>Category image</label>
      <div>
        <input class="w3-input w3-border" type="file" id="categoryImage" placeholder="Product image" 
        [(ngModel)]="cate.cateImage" (change)="uploadFile($event)" name="categoryImage" #categoryImage />
      </div>
    </div>
  </div>
  <br>
  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <label>Description</label>
      <div>
        <textarea class="w3-input w3-border" type="text" id="categoryDesciption" placeholder="First Name" [(ngModel)]="cate.cateDescription" 
        name="categoryDesciption"></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <button class="w3-button w3-blue" 
      type="submit" [disabled]="categoryForm.form.invalid" (click)="saveCategory()">Submit</button>
      <!-- <button class="w3-button w3-red" (click)="dialog.close()"
      type="submit">Close</button> -->
    </div>
  </div>
</form>

<!-- <dialog style="display:none;"></dialog> -->
