<div class="w3-container page-container">
  <div class="w3-row">
    <button class="w3-btn w3-blue" (click)="add_new_category('create')">
      New
    </button>
  </div>

  <br/>

  <div class="w3-row">
    <div class="w3-col l3 m6 s12">
      <input class="w3-input w3-border" placeholder="Search..." type="text" 
       [(ngModel)]="filterText" (focus)="focusFilter()">
    </div>
  </div>

  <br/>
  
  <div class="w3-row">
    <!-- table here -->
  </div>

</div>

<h3>i'm lazy</h3><div id="jquery-text">jQuery is not working</div>
