<div class="w3-container page-container">
  <div class="w3-row">
    <button class="w3-btn w3-blue" (click)="add_new_category('create')">
      New
    </button>
  </div>

  <br/>
  
  <div class="w3-row">
    
    <app-table-element [dataTables]="categoryLists" (editData)="getDataEdit($event)" (tableElementResult)="tableReturn($event)"></app-table-element>    
  </div>
</div>

<div id="addcatemodel" class="w3-modal">
  <div id="cate-model-content" class="w3-modal-content w3-card-4 w3-animate-zoom">
    <app-category-manager [categoryId]="categoryId" [modelOpen] = 'true' (createCateResult)="createCateResult($event)"></app-category-manager>
  </div>
</div>
