/* You can add global styles to this file, and also import other style files */

.page-container {
  padding-top: 18px !important;
}

/* Edit data table css */
ngx-datatable {
  box-shadow: none !important;
}

.ngx-text-center {
  text-align: center !important;
}