<div id="danger" class="w3-panel w3-red w3-display-container" style="display: none; z-index: 5;">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-red w3-large w3-display-topright">&times;</span>
  <h3>Danger!</h3>
  <p style="width: 350px;">{{message}}</p>
</div>

<div id="warning" class="w3-panel w3-yellow w3-display-container" style="display: none; z-index: 5;">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-yellow w3-large w3-display-topright">&times;</span>
  <h3>Warning!</h3>
  <p style="width: 350px;">{{message}}</p>
</div>

<div id="success" class="w3-panel w3-green w3-display-container" style="display: none; z-index: 5;">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-green w3-large w3-display-topright">&times;</span>
  <h3>Success!</h3>
  <p style="width: 350px;">{{message}}</p>
</div>

<div id="info" class="w3-panel w3-blue w3-display-container" style="display: none; z-index: 5;">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-blue w3-large w3-display-topright">&times;</span>
  <h3>Info!</h3>
  <p style="width: 350px;">{{message}}</p>
</div>
